.nav-tabs .nav-item.active {
    /* color: #4a586d; */
    background-color: transparent;
    border-color: transparent;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

.nav-tabs .nav-item.active .nav-link {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
}